*{
	box-sizing: border-box;
}
header #navbar-header{
	background-color: #DFDFDF !important;
}

#rule{
	color: black;
	width: 100%;
}

.navbar-brand{
	font-size: 1.4em;
}

.heading{
	margin-top: 20px;
}



@media (max-width: 575px){
	.row{
		margin-left: 10px;
		margin-right: 10px;
	}
}

section{
	height: 700px;
	margin: 5px;
	overflow: auto;
	background-color: #373737;
	color: #FFFFFF;
}

#menu{
	margin-top: 20px;
	margin-bottom: 10px;
}

p{
	font-size: 2vw;
}
