header #navbar-header{
	background-color: #DFDFDF !important;
}

#rule{
	color: black;
	width: 100%;
}

.navbar-brand{
	font-size: 1.4em;
}

.heading{
	margin-top: 20px;
}

.subhead{
	font-size: 1.5em;
}


.row{
	margin-top: 20px;
	background-color: #373737;
	color: #FFFFFF;
}

@media (max-width: 575px){
	.row{
		margin-left: 10px;
		margin-right: 10px;
	}
}